openapi: 3.2.0
info:
  title: DeBounce Email Validation Reverse API
  description: Single email validation, reverse lookup, balance, and usage endpoints.
  license:
    name: MIT
  version: 1.0.0
servers:
- url: https://api.debounce.io
security:
- ApiKeyQuery: []
tags:
- name: Reverse
paths:
  /v1/reverse/:
    get:
      summary: Reverse email lookup
      description: Reverse email lookup to find additional data associated with an email address
      operationId: reverseEmailLookup
      parameters:
      - name: api
        in: query
        description: Your DeBounce API key
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The email address to lookup
        required: true
        schema:
          type: string
          format: email
      responses:
        '200':
          description: Reverse lookup completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reverse
components:
  schemas:
    ReverseResult:
      type: object
      required:
      - success
      properties:
        email:
          description: The email address that was looked up
          type: string
          format: email
        data:
          description: Additional data found for the email address
          type: object
          additionalProperties: true
        success:
          description: Whether the lookup was successful
          type: integer
          enum:
          - 0
          - 1
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        message:
          type: string
        debounce:
          type: object
          properties:
            error:
              type: string
            code:
              type: string
        success:
          type: string
          enum:
          - '0'
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api
      description: API key for authentication
