openapi: 3.1.0
info:
  title: DeBounce Email Validation API — Data Enrichment
  description: DeBounce is an email validation and verification REST API. Requests are authenticated with
    an API key passed as the "api" query parameter; every response carries a "success" flag and a "debounce"
    object holding the result or the error. This document covers the reverse email lookup / data append
    endpoint, which returns additional contact data associated with an email address.
  license:
    name: MIT
  version: 1.0.0
  contact:
    name: DeBounce Support
    url: https://developers.debounce.com/
  termsOfService: https://debounce.com/terms-of-use/
servers:
- url: https://api.debounce.io
security:
- ApiKeyQuery: []
tags:
- name: Data
  description: Reverse email lookup and contact data enrichment
paths:
  /v1/reverse/:
    get:
      summary: Reverse email lookup
      description: Reverse email lookup to find additional data associated with an email address
      operationId: reverseEmailLookup
      parameters:
      - name: api
        in: query
        description: Your DeBounce API key
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: The email address to lookup
        required: true
        schema:
          type: string
          format: email
      responses:
        '200':
          description: Reverse lookup completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Data
components:
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        message:
          type: string
        debounce:
          type: object
          properties:
            error:
              type: string
            code:
              type: string
        success:
          type: string
          enum:
          - '0'
    ReverseResult:
      type: object
      required:
      - success
      properties:
        email:
          description: The email address that was looked up
          type: string
          format: email
        data:
          description: Additional data found for the email address
          type: object
          additionalProperties: true
        success:
          description: Whether the lookup was successful
          type: integer
          enum:
          - 0
          - 1
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api
      description: API key for authentication
x-apievangelist:
  method: searched
  generated: '2026-08-14'
  source: https://developers.debounce.com/api-reference/openapi-validation.json
  note: Refined from the OpenAPI 3.1.0 document DeBounce publishes at the source URL above; verbatim copy
    in openapi/_original/. Operations retagged by product area, no content invented.
