openapi: 3.1.0
info:
  title: DeBounce Email Validation API — Account
  description: 'DeBounce is an email validation and verification REST API. Requests are authenticated
    with an API key passed as the "api" query parameter; every response carries a "success" flag and a
    "debounce" object holding the result or the error. This document covers account operations: the remaining
    credit balance and the dated API usage history.'
  license:
    name: MIT
  version: 1.0.0
  contact:
    name: DeBounce Support
    url: https://developers.debounce.com/
  termsOfService: https://debounce.com/terms-of-use/
servers:
- url: https://api.debounce.io
security:
- ApiKeyQuery: []
tags:
- name: Account
  description: Account credit balance and API usage history
paths:
  /v1/balance/:
    get:
      summary: Get account balance
      operationId: getBalance
      tags:
      - Account
      parameters:
      - name: api
        in: query
        description: Your DeBounce API key
        required: true
        schema:
          type: apiKey
        example: YOUR API KEY
      responses:
        '200':
          description: Account balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResult'
              examples:
                success:
                  summary: Successful balance retrieval
                  value:
                    balance: 1986406
        '401':
          description: Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                debounce:
                  error: Wrong API
                  code: '0'
                success: '0'
  /v1/usage/:
    get:
      summary: Get usage statistics
      operationId: getUsage
      parameters:
      - name: api
        in: query
        description: Your DeBounce API key
        required: true
        schema:
          type: string
        example: YOUR API KEY
      - name: start
        in: query
        description: Start date. Must be after 20-08-14 (YY-MM-DD)
        required: true
        schema:
          type: string
          pattern: ^\d{2}-\d{2}-\d{2}$
          example: 24-01-01
      - name: end
        in: query
        description: End date. Equal or less than today's date (YY-MM-DD)
        required: true
        schema:
          type: string
          pattern: ^\d{2}-\d{2}-\d{2}$
          example: 24-12-31
      responses:
        '200':
          description: Usage history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResult'
              examples:
                example:
                  value:
                    debounce:
                      api: YOUR API KEY
                      start: 24-01-01
                      end: 24-12-31
                      calls: '100'
                    success: '1'
      tags:
      - Account
components:
  schemas:
    BalanceResult:
      type: object
      required:
      - success
      properties:
        balance:
          description: Current account balance
          type: integer
          minimum: 0
        success:
          description: Whether the request was successful
          type: integer
          enum:
          - 0
          - 1
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        message:
          type: string
        debounce:
          type: object
          properties:
            error:
              type: string
            code:
              type: string
        success:
          type: string
          enum:
          - '0'
    UsageResult:
      type: object
      required:
      - success
      properties:
        debounce:
          type: object
          properties:
            api:
              description: API key identifier
              type: string
            start:
              description: Start date
              type: string
            end:
              description: End date
              type: string
            calls:
              description: Number of API calls made
              type: string
        success:
          description: Whether the request was successful
          type: string
          enum:
          - '0'
          - '1'
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api
      description: API key for authentication
x-apievangelist:
  method: searched
  generated: '2026-08-14'
  source: https://developers.debounce.com/api-reference/openapi-validation.json
  note: Refined from the OpenAPI 3.1.0 document DeBounce publishes at the source URL above; verbatim copy
    in openapi/_original/. Operations retagged by product area, no content invented.
